extends layout

block content

  div.row
    form.add-author-form( action="/author/add" method="post" )
      div.row
        div.col-md-4
          input( name="name", placeholder="Author's Name", size="30" )
        div.col-md-4
          input( name="img_url", placeholder="Image URL", size="30" )
      br
      div.row
        div.col-md-8
          textarea.form-control( name="bio", placeholder="Information about the Author", rows="3", size="100" )
      div.row
        div.col-md-1.col-md-offset-7
          input.btn.btn-primary( type="submit", value="Submit" )
