extends layout

block content

  div.row
    div.col-md-6
      img.img-responsive( src="http://www.clipartden.com/_thumbspd/education/school/school_book_small_tan.png", style="width:150px" )
    div.col-md-6
      div.row
        div.col-md-8
          h2.h2.white-words Book Title Here
      div.row
        div.col-md-8
          a( href="/authors/details" )
            h4.h4.white-words Book Author
      div.row
        div.col-md-8
          p.white-words book summary
      div.row
        div.col-md-2
          a.btn.btn-primary( href="/books/edit" ) Update
        div.col-xs-1
        div.col-md-2
          a.btn.btn-danger( href="/" ) Delete
