extends layout

block content
  div.row

    - for ( let i = 5; i > 0; i-- ) {
      div.col-md-2
        div.book-title
          a( href="/books/details" )
            h4.h4
              img.img-responsive( src="http://www.clipartden.com/_thumbspd/education/school/school_book_small_tan.png" )
          - }
