doctype html
html
  head
    title "Simple Book Store"
    link( rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u", crossorigin="anonymous" )
    link( rel="stylesheet", href="/stylesheets/style.css" )
    link( rel="stylesheet", href="/stylesheets/bg-video.css" )

  body

    div.fullscreen-bg
      div.fullscreen-bg__overlay
      video.fullscreen-bg__video( loop muted autoplay poster=""  )
        source( src="/book-video.mp4" type="video/mp4" )


    div.header-container
      div.row
        div.col-md-6
          a( href="/books/" )
            h1.h1.app-title.white-words Simple Book Store
        div.col-xs-6
          div.col-xs-6.col-md-offset-7
            a( href='/users/signup' )
                h4.h4 Create Account
            form( action="/users/login", method="post" )
              input.user-login-input.form-group( name="email", placeholder="Username" )
              input.user-login-input.form-group( name="password", placeholder="Password", type="password" )
              input.btn.btn-default.form-group( type="submit", value="Login" )
  div.row
    div.col-md-1
      a.btn.btn-default.admin-btn( href="/books/add" ) Add Book

  div.page-container
    block content
