doctype html
html
  head
    title "Simple Book Store"
    link( rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u", crossorigin="anonymous" )
    link( rel="stylesheet", href="/stylesheets/style.css" )
    link( rel="stylesheet", href="/stylesheets/bg-video.css" )

  body

    div.fullscreen-bg
      div.fullscreen-bg__overlay
      video.fullscreen-bg__video( loop muted autoplay poster=""  )
        source( src="/book-video.mp4" type="video/mp4" )


    div.header-container
      div.row
        div.col-md-6
          a( href="/books/" )
            h1.h1.app-title.white-words Simple Book Store
        div.col-xs-6
          div.col-xs-6.col-md-offset-7
            a( href='/users/signup' )
                h4.h4 Create Account
            form( action="/users/login", method="post" )
              input.user-login-input( name="email", placeholder="Username" )
              input.user-login-input( name="password", placeholder="Password", type="password" )
              input.btn.btn-default( type="submit", value="Login" )
  div.row
    div.admin-buttons
      a.btn.btn-default.admin-btn( href="/books/add" ) Add Book
      a.btn.btn-default.admn-btn( href="/authors/add" ) Add Author

    //- div.row.search-row
    //-   form.search( action="#", method="#" )
    //-     input.form-control( name="search-query", placeholder="Search Books Here", type="text", size="75" )
    //-     input.form-group.col-md-offset-10( type="submit" value="Submit")

  div.page-container



    block content
