extends layout

block content

  div
    h4.h4 Update Book

  div.row
<<<<<<< HEAD
    form.bookstore-form( action="/author/update", method="post" )
=======
    form.add-book( action="/authors/update", method="post" )
>>>>>>> master
      div.row
        div.col-md-2
          input( name="name", placeholder="Name" )
        div.col-md-2
          input( name="img-url", placeholder="Image URL" )
      br
      div.row
          div.col-md-4
            textarea.form-control( name="bio", placeholder="Author's Bio...", rows="3" )
      div.row
        div.col-md-2.col-md-offset-4
          input.btn.btn-primary( type="submit", value="Submit" )
