extends layout

block content

  div
    h4.h4 Update Book

  div.row
    form.bookstore-form( action="/book/update", method="post" )
      div.row
        div.col-md-7
          input( name="title", placeholder="Title", size="50" )
        div.col-md-7
          input( name="author", placeholder="Author", size="50"  )
      br
      div.row
        div.col-md-7
          input( name="genre", placeholder="Genre", size="50" )
        div.col-md-7
          input( name="img-url", placeholder="Image URL", size="50" )
      br
      div.row
        div.col-xs-2.col-md-offset-8
          input.btn.btn-primary( type="submit", value="Submit" )
