extends layout

block content

  div.row
    div.col-sm-2
      h4.h4.white-words Update Book

  div.row
    form.bookstore-form( action="/books/edit", method="post" )
      div.row.form-group
        div.col-md-7
          input( name="title", placeholder="Title", size="50" )
        div.col-md-7
          input( name="author", placeholder="Author", size="50"  )
      div.row.form-group
        div.col-md-7
          input( name="genre", placeholder="Genre", size="50" )
        div.col-md-7
          input( name="img-url", placeholder="Image URL", size="50" )
      div.row.form-group
        input.btn.btn-primary( type="submit", value="Submit" )
