a {
  text-decoration: none !important;
}

body {
  padding: 10px;
  margin: 10px;
  background-image: url("https://images2.alphacoders.com/261/26102.jpg");
}

.row {
  position: relative;
  display: flex;
  margin: 5px;
  width: 100%;
  justify-content: space-between;
}

.header-container {
  display: flex;
  background-color: rgba( 19, 38, 57, 0.82 );
  border-style: outset;
  border-color: black;
  padding: 1em;
}

.user-login-input {
  margin-right: 2em;
}

.bookstore-input {
  size: 50;
}

.page-container {
  background-color: rgba( 19, 38, 57, 0.82 );
  border-style: outset;
  display: flex;
  flex-direction: column;
  width: 95%;
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
}

.white-words {
  color: white;
}

.admin-buttons {
  flex-direction: row-reverse;
  width: 50%;
}

.admin-btn {
  margin-right: 1em;
}

.author-books {
  margin: 1em;
  padding: 1em;
  margin-left: auto;
  margin-right: auto;
}

.search-row {
  flex-direction: row-reverse;
  width: 100%;
}

.bookstore-form {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.user-col-1 {
  width: 30%;
}

.input-error {
  color: red;
  font-weight: bold;
  font-style: italic;
}

/** {
  position: relative !important;
  border: solid black 1px;
}*/
