extends ../layout

block content

  div.row
    div.col-md-5
      img.img-responsive( src="https://i.ytimg.com/vi/RHnsDSh8-8w/hqdefault.jpg" )
    div.col-md-5
      div.row
        div.col-md-7
          h2.h2.white-words= author.name
      div.row
        div.col-md-12
          strong.white-words Bio and stuff bout the author.


  div.row
    div.col-md-4
      h5.white-words Some books by author

  div.row.author-books
    - for ( book of books ) {
      div.col-md-4
        a( href=`/books/details/${book.id}` )
          img.img-responsive( src=book.cover )

    - }
  //- TODO: Book cover and title need to be displayed
